<form [formGroup]="myForm" (ngSubmit)="submit(myForm.value, myForm.valid)">
  <mat-form-field>
    <label>Tytuł</label>
    <input
      matInput
      formControlName="name"
      type="text"
      required>
  </mat-form-field>
  <mat-form-field>
    <label>Opis</label>
    <textarea
      matInput
      formControlName="description"
      required
      type="text">
    </textarea>
  </mat-form-field>
  <mat-slide-toggle
    class="example-margin"
    formControlName="isAvailable">
      Dostępna
  </mat-slide-toggle>
  <button mat-button mat-raised-button type="submit">Dodaj</button>
</form>