[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/liniawwwepoint
[access "refs/for/refs/*"]
	read = group user/liniawwwepoint
	push = group user/liniawwwepoint
	label-Code-Review = -2..+2 group user/liniawwwepoint
	label-Verified = -1..+1 group user/liniawwwepoint
	rebase = group user/liniawwwepoint
	removeReviewer = group user/liniawwwepoint
	submit = group user/liniawwwepoint
[access "refs/heads/*"]
	read = group user/liniawwwepoint
	create = group user/liniawwwepoint
	push = +force group user/liniawwwepoint
	pushMerge = group user/liniawwwepoint
[access "refs/tags/*"]
	push = group user/liniawwwepoint
	push = +force group user/liniawwwepoint
