/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.customform {
  width: 40%;
  margin: 150px auto;
}
.customform-header {
  margin: 0;
}
.customform__form {
  display: flex;
  flex-direction: column;
}
.customform__registerinfo {
  font-size: 12px;
}
.customform__actions {
  margin: 0;
}

.game__card {
  margin: 30px;
}

.toolbar .mat-chip-list,
.toolbar .mat-slide-toggle,
.toolbar form {
  margin-right: 30px;
}

/* Styles for flash messages */
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-align: center;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}